#main-title{
  margin-top: 10px;
  font-size: 60px;
  text-align: center;
}

.buttons{
  margin: 30px;
  text-align: center;
}

#button-start{
  border-radius: 10px;
  background-color: rgb(61, 182, 65);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
  margin-right: 10px;
}

#button-start:hover{
  background-color: rgb(2, 77, 2);
  color: rgb(220, 218, 218);
}
  
#button-stop{
  border-radius: 10px;
  background-color: rgb(240, 94, 94);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
}

#button-stop:hover{
  background-color: rgb(96, 2, 2);
  color: rgb(220, 218, 218);
}

#video-container{
  margin: 0px auto;
  width: 700px;
  height: 500px;
  border: 3px black solid;
  text-align: center;
  overflow: hidden;
}

#camera{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

#camera-button {
  width: 30px; 
  font-size: 2em;
  padding: 0.5rem; 
  border-radius: 50%; 
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 78%;              
  transform: translate(-50%, -50%); 
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;     
  z-index: 2;
}

#camera-button:hover {
  background-color: white;
  color: black;
}

.effect{
  opacity: 0.5;
  transition: all 100ms ease;
}

.picture-display{
  position: absolute;
  right: 40px;
  top: 150px;
  text-align: center;
}

.captured-picture{
  display: none;
  width: 170px;
  height: 100px;
  transform: scaleX(-1);
}

#transcription{
  text-align: center;
}

#placeholder-text{
  color: gray;
  width: 400px;
  height: 60px;
  resize: none;
}